@import url('./views/my-view-view.css');
@import url('./views/dashboard-view.css');    html {
      --lumo-success-color: hsl(145, 46%, 24%);
      --lumo-success-color-50pct: hsla(145, 46%, 24%, 0.5);
      --lumo-success-color-10pct: hsla(145, 46%, 24%, 0.1);

    }
